:root {
  --c-primary: #732e76;
  --c-dark-grey: #757c83;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

body {
  background-color: var(--c-dark-grey);
}

nav {
  display: flex;
  justify-content: flex-end;
  padding-right: 25px;
  
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 20%;
}

ul li {}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--c-primary);
}

.text-center {
  text-align: center;
}

main {
  width: 88%;
  margin: 0 auto;
}

.hero {
  height: 400px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
}

section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

section>h2 {
  flex-basis: 18%;
  border-right: 3px solid black;
  text-align: right;
  padding-right: 15px;
}

section>div {
  flex-basis: 82%;
  padding-left: 10px;
}

.work-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work-section a {
  border: 3px solid black;
  min-height: 180px;
  max-height: 180px;
  flex-basis: calc(50% - 1em);
  margin: 0.5em;
  display: flex;
  align-items: flex-end;
  padding: 0 0 20px 0;
}


.work-section a:first-child {
  min-height: 320px;
  flex-basis: 100%;
}
.work-section a div {
  background-color: white;
  padding: 8px 10px;
}
.project-1 {
  background-image: url("../images/02-horiseon-snip.png");
}

.project-2 {
  background-image: url("../images/02-portfolio-1.jpg");
}

.project-3 {
  background-image: url("../images/02-portfolio-2.jpg");
}

.project-4 {
  background-image: url("../images/02-portfolio-3.jpg");
}

.project-5 {
  background-image: url("../images/02-portfolio-4.jpg");
}

footer {
  margin-top: 5rem;
}

